<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <button mat-icon-button><mat-icon class="menu">menu</mat-icon> </button> 
    <i  style=font-size:22px;color:white;margin-left:62px;margin-top:8px;>
        <strong>Shopsy</strong>
    </i>
    </div>
      <div class="form-group">
               <input type="text" class="form-control custom-width" [(ngModel)]="searchTerm" (keyup)="search($event)"  placeholder="search products"  matInput [formControl]="mycontrol"
               [matAutocomplete]="auto" (click)="fetchData()">
               <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </div>
            <span class="fas fa-search search-icon"></span>

<button class="btn btn-light">
    <i style="font-size:20px;" routerLink="/cart" class="fas fa-cart-plus"> </i>
    <div class="badge bg-danger">{{totalItemNumber}}</div>

</button>
</div>
</header>

<!--
<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav opened #nav >
    <a [routerLink]="['products']" color="primary">
      <button mat-button><mat-icon>home</mat-icon></button><span>Home</span>
    </a></mat-sidenav>
  <mat-sidenav-content>

  </mat-sidenav-content>
</mat-sidenav-container>-->
